@import "tailwindcss";

@theme {
  --color-marca-50: #eef2ff;
  --color-marca-100: #e0e7ff;
  --color-marca-500: #6366f1;
  --color-marca-600: #4f46e5;
  --color-marca-700: #4338ca;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
